// 为代码块顶部添加 macos 样式
/* 高亮容器 */
.highlight {
    background: var(--code-bg-color);
    color: var(--code-text-color);
    border: 1px solid var(--code-border-color);
    border-radius: var(--code-radius);
    font-family: var(--code-font-family);
    font-size: 15px;
    font-weight: 500;
    padding: 1em;
    overflow-x: auto;
    line-height: 1.5;
    position: relative;
    counter-reset: linenumber;
    box-sizing: border-box;
    max-height: 400px;
    overflow-y: auto;
    padding-right: 1rem;
}

/* 顶部 Mac 风格按钮条 */
.article-content .highlight:before {
    content: "";
    display: block;
    background: url(/img/code-header.svg);
    background-size: 52px;
    background-repeat: no-repeat;
    height: 25px;
    margin-top: -10px;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

/* pre 不再控制滚动 */
.highlight pre {
    margin: 0;
    padding: 0;
    background: none;
    overflow: visible;
}

/* 代码内容 */
.highlight code {
    display: block;
    white-space: pre-wrap;
    word-break: break-word;
}