// 正文字体
body,
.article-content {
    font-family: "LXGW Bright", sans-serif;
    font-size: 19px;
}
body,
.article-content h2 {
    font-family: "LXGW Bright", sans-serif;
    font-size: 23px;
    color: #6282ab !important;
}
.article-content h3 {
    font-family: "LXGW Bright", sans-serif;
    font-size: 18px;
    color: #6282ab !important;
}

// 标题字体
body,
.article-title a {
    font-family: "LXGW Bright", sans-serif;
    font-size: 25px;
    color: #6282ab !important;
}
.article-details .article-title {
    font-family: "LXGW Bright", sans-serif;
    font-size: 25px;
    color: #6282ab !important;
}
.article .article-details .article-title {
    font-family: "LXGW Bright", sans-serif;
    font-size: 25px;
    color: #6282ab !important;
}

// 首页字体
body,
.article-page {
    font-family: "LXGW Bright", sans-serif;
    font-size: 18px;
}
.site-name {
    font-size: 22px !important;
}
.site-description {
    font-size: 18px !important;
}

//页面三栏宽度调整
.container {
    margin-left: auto;
    margin-right: auto;

    &.extended {

        /* range: 768-1024 */
        @include respond(md) {
            max-width: 1024px;
            --left-sidebar-max-width: 25%;
            --right-sidebar-max-width: 30%;
        }

        /* range: 1024-1280 */
        @include respond(lg) {
            max-width: 1280px;
            --left-sidebar-max-width: 25%;
            --right-sidebar-max-width: 22%;
        }
    }

    &.compact {
        @include respond(md) {
            --left-sidebar-max-width: 25%;
            max-width: 768px;
        }

        @include respond(lg) {
            max-width: 1024px;
            --left-sidebar-max-width: 20%;
        }

        @include respond(xl) {
            max-width: 1280px;
        }
    }
}

// 主题背景（亮色+暗色）
html[data-scheme='light'] body {
    background-color: rgba(0, 0, 0, 0.1);
    background-image: url("https://cdn.jsdelivr.net/gh/yurikko/pics/img/blue_sea.JPG");
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

html[data-scheme='dark'] body {
    background-color: rgba(0, 0, 0, 0.6);
    background-image: url("https://cdn.jsdelivr.net/gh/yurikko/pics/img/blue_sea.JPG");
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

//图片轮播
.swiper-container {
    max-width: 820px;
    margin: 2em auto;

}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background-color: #fff;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        margin: 0 !important;
    }
}

// 隐藏评论信息
.wl-meta .wl-system,
.wl-meta .wl-ip,
.wl-meta .wl-browser,
.wl-meta .wl-os,
.wl-meta .wl-reaction-title,
.wl-meta .wl-addr {
    display: none !important;
}

// 音乐播放器
@import "aplayer-light.scss";
@import "aplayer-dark.scss";

// Neodb卡片
@import "Neodb.scss";

//文本黑幕效果
.shady {
    color: #69aac1;
    font-weight: bold;
    box-shadow: 0px -25px 0px #69aac1 inset;
    transition: all 0.3s ease;
}

.shady:hover {
    font-weight: bold;
    color: #FFF;
    box-shadow: 0px -25px 0px #394145 inset;
}

// 诗歌引用格式
blockquote.quote-center {
    position: relative;
    border-left: none;
    padding-left: 0;
    border-top: 0px solid var(--card-separator-color);
    border-bottom: 0px solid var(--card-separator-color);

    p {
        text-align: center !important;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
    }

    &::before {
        position: absolute;
        left: 0;
        content: '“---';
        color: #4a78a680;
        font-size: 3em;
        font-weight: normal;
        margin-top: -0.72em;
    }

    &::after {
        position: absolute;
        right: 0;
        content: '---”';
        color: #4a78a680;
        font-size: 3em;
        font-weight: normal;
        margin-top: -1.42em;
    }
}

// 标记颜色
[data-scheme='light'] mark {
    background-color: #ead2dd;
    padding: 0.1em 0.2em;
    border-radius: 0.2em;
}

[data-scheme='dark'] mark {
    background-color: #836c76;
    color: white;
    padding: 0.1em 0.2em;
    border-radius: 0.2em;
}

// 引用样式
[data-scheme='light'] .article-content blockquote {
    color: var(--color-text-primary) !important;
    background-color: #b2c6d5 !important;
    padding: 20px !important;
    border-radius: 5px !important;
    border-left: 0.25em solid #99b0c1 !important;
}

// 键盘键样式
[data-scheme='light'] .article-content kbd {
    background-color: #eadae1;
    border: 1px solid #ababab;
}

// 代码块样式
@import "code.scss";

.article-time--words {
    font-size: 1.4rem;
}

// 折叠文字样式
.my-summary {
    font-weight: bold;
    color: #759aad;
}

// 状态气泡样式
@import "status-cafe.scss";
.status-cafe {
    .widget-icon {
        // 图标样式
        svg {
            width: 32px;
            height: 32px;
            stroke-width: 1.6;
            color: var(--body-text-color);
        }
    }

    .widget-title {
        // 标题样式
        font-size: 16px;
    }
}