<!--返回顶部按钮 -->
<a href="#" id="back-to-top" title="返回顶部"></a>

<!--返回顶部CSS -->
<style>
    #back-to-top {
        display: none;
        position: fixed;
        bottom: 15px;
        right: 55px;
        width: 40px;
        height: 40px;
        border-radius: 7px;
        background-color: #c7d5df;
        box-shadow: var(--shadow-l2);
        font-size: 20px;
        text-align: center;
        line-height: 50px;
        cursor: pointer;
    }

    #back-to-top:before {
        content: ' ';
        display: inline-block;
        position: relative;
        top: 0;
        transform: rotate(135deg);
        height: 10px;
        width: 10px;
        border-width: 0 0 2px 2px;
        border-color: var(--back-to-top-color);
        border-style: solid;
    }

    #back-to-top:hover:before {
        border-color: #2674e0;
    }

    /* 在屏幕宽度小于 768 像素时，钮位置调整 */
    @media screen and (max-width: 768px) {
        #back-to-top {
            bottom: 20px;
            right: 20px;
            width: 40px;
            height: 40px;
            font-size: 10px;
        }
    }

    /* 在屏幕宽度大于等于 1024 像素时，按钮位置调整 */
    @media screen and (min-width: 1024px) {
        #back-to-top {
            bottom: 20px;
            right: 40px;
        }
    }

    /* 在屏幕宽度大于等于 1280 像素时，按钮位置调整 */
    @media screen and (min-width: 1280px) {
        #back-to-top {
            bottom: 20px;
            right: 55px;
        }
    }

</style>

<!--返回顶部JS -->
<script>
    function backToTop() {
        document.documentElement.scrollIntoView({
            behavior: 'smooth',
        })
    }

    window.onload = function () {
        let scrollTop =
            this.document.documentElement.scrollTop || this.document.body.scrollTop
        let totopBtn = this.document.getElementById('back-to-top')
        if (scrollTop > 0) {
            totopBtn.style.display = 'inline'
        } else {
            totopBtn.style.display = 'none'
        }
    }

    window.onscroll = function () {
        let scrollTop =
            this.document.documentElement.scrollTop || this.document.body.scrollTop
        let totopBtn = this.document.getElementById('back-to-top')
        if (scrollTop < 200) {
            totopBtn.style.display = 'none'
        } else {
            totopBtn.style.display = 'inline'
            totopBtn.addEventListener('click', backToTop, false)
        }
    }
</script>

<!--归档页折叠JS -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
            document.querySelectorAll(".toggle-btn").forEach(function (btn) {
                btn.addEventListener("click", function () {
                    const year = btn.getAttribute("data-year");
                    const list = document.getElementById("posts-" + year);

                    if (list.style.display === "none") {
                        list.style.display = "";
                        btn.textContent = "折叠";
                    } else {
                        list.style.display = "none";
                        btn.textContent = "展开";
                    }
                });
            });
        });
</script>
<!--归档页折叠样式 -->
<style>
    /* 归档页展开/折叠按钮样式 */
    .toggle-btn {
        margin-left: 13px;
        padding: 4px 10px;
        font-size: 16px;
        border: 1px solid var(--card-text-color,);
        border-radius: 6px;
        background: var(--card-background);
        color: var(--card-text-color);
        cursor: pointer;
        transition: all 0.2s ease;
    }

    /* hover 效果 */
    .toggle-btn:hover {
        background: var(--card-background-hover, #d9e1e5);
        border-color: var(--primary, #6282ab);
        color: var(--primary, #6282ab);
        box-shadow: 0 2px 5px rgba(0,0,0,0.08);
    }
</style>